[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "maybe"]
	path = maybe
	url = https://github.com/armcn/maybe
[submodule "quickcheck"]
	path = quickcheck
	url = https://github.com/armcn/quickcheck
